* @zkochan
/pnpm11/pkg-manager/plugin-commands-installation/src/import/* @fireairforce
/pnpm11/reviewing/dependencies-hierarchy/* @gluxon
/pnpm11/reviewing/list/* @gluxon
/pnpm11/reviewing/plugin-commands-listing/* @gluxon
/pnpm11/reviewing/license-scanner/* @weyert
/pnpm11/reviewing/plugin-commands-licenses/* @weyert
/pnpm11/hooks/* @d3lm
