# Logs
logs
*.log
npm-debug.log*

# Dependency directory
node_modules
_node_modules

# Coverage directory used by tools like istanbul
coverage

fixtures
.tmp
_docpress

lib

# Visual Studio Code configs
.vscode/

# pnpm uses npm for publishing a new version with
# dependencies bundled but the npm lockfile is not needed
# because pnpm use pnpm for installation
package-lock.json
