; This is false to avoid issues in GitHub actions
git-checks = false

hoist-pattern[] = jest-runner
shared-workspace-lockfile = true
publish-branch = main
pnpmfile = .pnpmfile.cjs
node-version = 18.12.0
engine-strict = true
save-prefix=
; dedupe-direct-deps=true ; Otherwise exporting the manifest fails sometimes
patches-dir=__patches__
resolution-mode=time-based
enable-pre-post-scripts=false
manage-package-manager-versions=true
