; This is false to avoid issues in GitHub actions
git-checks = false

hoist-pattern[] = jest-runner
link-workspace-packages = true
shared-workspace-lockfile = true
use-beta-cli = true
publish-branch = main
pnpmfile = .pnpmfile.cjs
strict-peer-dependencies = true
extend-node-path = false
