; This is false to avoid issues in GitHub actions
git-checks = false

hoist-pattern[] = jest-runner
link-workspace-packages = true
shared-workspace-lockfile = true
publish-branch = main
pnpmfile = .pnpmfile.cjs
node-version = 14.19.0
engine-strict = true
save-workspace-protocol=rolling
save-prefix=
use-inline-specifiers-lockfile-format = true
