jobs:
- job: ${{ parameters.name }}
  pool:
    vmImage: ${{ parameters.vmImage }}
  strategy:
    matrix:
      node_10_x:
        node_version: 10.x
      node_12_x:
        node_version: 12.x
    maxParallel: 3
  steps:
  - task: NodeTool@0
    inputs:
      versionSpec: $(node_version)
    displayName: 'Install Node.js'

  - script: npm install -g pnpm@next
    displayName: 'Install pnpm'
  - script: pnpm recursive install --no-lock
    displayName: 'Install dependencies'
  - script: pnpm test-main
    displayName: 'Run tests'
