{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": [
            "last 2 versions",
            "IE >= 9"
          ]
        }
      }
    ],
    "stage-0",
    "react"
  ]
}
