storage/*

# Don't ignore the ones published for specifically for testing purposes
!storage/circular-deps-1-of-2/
!storage/circular-deps-2-of-2/
!storage/dep-of-pkg-with-1-dep/
!storage/for-legacy-node/
!storage/for-legacy-pnpm/
!storage/hello-world-js-bin/
!storage/install-script-example/
!storage/not-compatible-with-any-os/
!storage/peer-deps-in-child-pkg/
!storage/pkg-that-installs-slowly/
!storage/pkg-that-uses-plugins/
!storage/pkg-with-1-dep/
!storage/pkg-with-bundled-dependencies/
!storage/plugin-example/
!storage/pre-and-postinstall-scripts-example/
!storage/sh-hello-world/
!storage/symlinks-preserved/
!storage/test-pnpm-peer-deps/
!storage/uses-pkg-with-self-usage/
!storage/print-filename/
