name: Audit

on: [push, pull_request]

permissions:
  contents: read # to fetch code (actions/checkout)

jobs:
  audit:
    name: Audit dependencies
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Commit
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
    - name: Install pnpm
      uses: pnpm/action-setup@9b5745cdf0a2e8c2620f0746130f809adb911c19
      with:
        standalone: false
    - name: Audit
      run: pnpm audit
