name: Release

on:
  push:
    tags:
      - "v*.*.*"

permissions:
  contents: read

jobs:
  build:
    permissions:
      contents: write  # for softprops/action-gh-release to create GitHub release
    runs-on: ubuntu-latest
    environment: release
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Install ldid
        run: |
          sudo apt-get update
          sudo apt-get install git build-essential libplist-dev libssl-dev openssl qemu-user-binfmt
          cd /tmp
          git clone git://git.saurik.com/ldid.git
          cd ldid
          git submodule update --init
          gcc -I. -c -o lookup2.o lookup2.c
          g++ -std=c++11 -o ldid lookup2.o ldid.cpp -I. -lcrypto -lplist -lxml2
          sudo mv ldid /usr/local/bin
      - name: install pnpm and npm
        run: |
          curl -L https://get.pnpm.io/v6.16.js | node - add --global pnpm@next-7 npm@7
      - name: pnpm install
        run: pnpm install
      - name: Publish Packages
        env:
          "npm_config_//registry.npmjs.org/:_authToken": ${{ secrets.NPM_TOKEN }}
        run: |
          pnpm publish --filter=@pnpm/exe --tag=next-7 --access=public
          pnpm publish --filter=!pnpm --filter=!@pnpm/exe --access=public
          pnpm publish --filter=pnpm --tag=next-7 --access=public
      - name: Copy Artifacts
        run: pnpm run copy-artifacts
      - name: Generate release description
        run: pnpm run make-release-description
      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          draft: true
          files: dist/*
          body_path: RELEASE.md
